<form action="/{{this.id}}?_method=PUT" method="POST">
	<input type="hidden" name="devoured" value="{{#if this.devoured}}false{{else}}true{{/if}}">
	<button class="btn btn-primary" type="submit">{{#if this.devoured}}Return to menu{{else}}I wanna eat it!{{/if}}</button>
</form>